#home{
    display: flex;
    gap: 0.5rem;
    color: var(--text-less-white);
}

.responsive-nav{
    display: flex;
    justify-content: center;
}

nav a{
    color: var(--text-less-white);
}

.nav-btn{
    display: none;

}

.nav-container{
    background-color: rgba(0, 0,0, .4);
    backdrop-filter: blur(6px);
    border-radius: 0 0 .3rem .5rem;
   
    /* height: 3rem; */
    padding: 1rem 0 1rem;
    position: fixed;
    width: 100vw;
}

.whole{
    display: flex;
    justify-content: space-between;
    width: var(--container-width-desktop);
    margin: auto;
    /* padding: 0.5rem 0 0.5rem; */
    height: 100%;
}


.nav-close-btn{
    align-self: center;
    padding-bottom: 0.5rem;
}

nav a{
    margin-left: 2rem;
}

.nav-link:hover{
    color: var(--off-white-brighter);
    transition: 0.1s;
}

@media (max-width:600px){
    .nav-btn{
        display: flex;
    }

    nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center;  */
        /* background-color: rgba(0, 0,0, .2);
        backdrop-filter: blur(6px); */
        
    }

    .hamb-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--text-less-white);
    }

    .hide-hamb{
        display:none;
        opacity: 0;
    }
    



    .responsive-nav{
        display: none;
    }

    .change-align{
        flex-direction: column;
        width: 100%;
    }

    nav a{
        /* width: 100%; */
        margin: 0;
        width:100%;
        display: flex;
        justify-content: center;
        padding: 1rem 0 1rem;
        
    }

    nav button{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    

    .nav-container{
        /* background-color: #282826; */
        background-image: none;
        height: max-content;
        padding: 0.7rem 0 0.7rem;
    }

    .logo-style{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:0;
        margin-top: 0.5rem;
    }
    
    .logo-style #my-logo{
        display: none;
    }
    
    .logo-style p{
        width: 100vw;
        display: flex;
        justify-content: center;
        padding: 1rem 0 1rem;
    }



}