.container-CTA{
    display: flex;
    margin-top: 30px;
}

#btn-download-cv{
    margin-right: 30px;
}

@media (max-width:480px){

.container-CTA{
    flex-direction: column;
    margin-top: 30px;
    height: 6rem;
    justify-content: space-between;
    align-self:center;

}
#btn-download-cv{
    margin-right: 0;
    width: 65%;
    display: flex;
    justify-content: center;
}

#btn-talk{
    width: 65%;
    display: flex;
    justify-content: center;
}

#header-container{
    align-items: center;
}

#header-container h1{
    text-align: center;
}
}